@font-face {
    font-family: customFont;
    src: url("../roboto-main/RobotoMono-VariableFont_wght.ttf");
}

* {
    --header-and-footer: #465362;
    --sidebar-background: #C4D7F2;
    --sidebar-darker-background: #8a97aa;
    --todo-background: #F0F7EE;

    font-family: customFont;

}

body {
    height: 100vh;
    margin: 0;
}

header {
    justify-content: left;
}

#container {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100%;
}

#content {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

navbar {
    background-color: var(--sidebar-background);
}

navbar > div > div {
    
}

navbar > div > div:hover {
    background-color: var(--sidebar-darker-background);
}

article {
    background-color: var(--todo-background);
}

footer {
    justify-content: center;
}

header,
footer {
    background-color: var(--header-and-footer);
    display: flex;
    align-items: center;
}