@font-face {
    font-family: customFont;
    src: url("../roboto-main/RobotoMono-VariableFont_wght.ttf");
}

* {
    --header-and-footer: #465362;
    --sidebar-background: #C4D7F2;
    --sidebar-darker-background: #8a97aa;
    --todo-background: #F0F7EE;

    font-family: customFont;

}

body {
    height: 100vh;
    margin: 0;
}

header {
    justify-content: left;
    padding-left: 16px;
    font-size: 32px;
    font-weight: 600;
}

#container {
    display: grid;
    grid-template-rows: 1fr 15fr 1fr;
    height: 100%;
}

#content {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

navbar {
    background-color: var(--sidebar-background);
    padding-left: 16px;
    padding-top: 32px;
}

#tasksSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#tasksSection > div,
#projectsSection > div{

    height: 35px;
    width: 90%;

    border-radius: 5px;
    padding-left: 4px;
}

navbar > div > div {

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

navbar > div > div img{
    height: 30px;
    width: 30px;
}

navbar > div > div:hover {
    background-color: var(--sidebar-darker-background);
}

article {
    background-color: var(--todo-background);
}

footer {
    justify-content: center;
}

header,
footer {
    background-color: var(--header-and-footer);
    display: flex;
    align-items: center;
}